<!doctype html>
<html lang="fr">
<head>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <title>{{ page.title }} • Serendi</title>
  <link rel="stylesheet" href="{{ '/assets/style.css?v=20250927d' | relative_url }}"/>
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" crossorigin=""/>
  <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js" crossorigin=""></script>
  <meta name="theme-color" content="#e879f9">
</head>
<body>
  {% include header.html %}
  <main class="container grid">
    {{ content }}
  </main>
  {% include footer.html %}
</body>
</html>