<!doctype html>
<html lang="fr">
<head>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <title>{{ page.title }} • Serendi</title>
  <link rel="stylesheet" href="{{ '/assets/style.css' | relative_url }}"/>
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" crossorigin=""/>
  <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js" crossorigin=""></script>
  <link rel="icon" type="image/png" sizes="32x32" href="{{ '/assets/favicon-32.png' | relative_url }}">
  <link rel="icon" type="image/png" sizes="16x16" href="{{ '/assets/favicon-16.png' | relative_url }}">
  <link rel="apple-touch-icon" sizes="192x192" href="{{ '/assets/icon-192.png' | relative_url }}">
  <link rel="manifest" href="{{ '/site.webmanifest' | relative_url }}">
  <meta name="theme-color" content="#e879f9">
</head>
<body>
  {% include header.html %}
  <main class="container grid">
    {{ content }}
  </main>
  {% include footer.html %}
</body>
</html>
